html, input {
    font-family: sans-serif;
}

body {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
}

#header-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: tomato;
    /* font-size: 20px; */
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    margin-top: 50px;

}

div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label, input, button {
    font-size: 16px;
    line-height: 1.5;
}

label {
    text-align: right;
    width: 30%;
    margin-right: 2%;
}

input {
    flex: auto;
}

button {
    width: 70%;
    margin: 0 auto;
}

error-output {
    font-size: 12px;
    font-style: italic;
    color: red;
}

@media only screen and (max-width: 360px){

    h1 {
        font-size: 40px;
        text-align: center;
    }
    label {
        width: 35%;
        font-size: 15px;
    }   

    .media-padding {
        padding: 3px;
    }
}